* {
  margin: 0;
  padding: 0; }

.arrays {
  margin-left: 20px; }
  .arrays p {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px; }
  .arrays ol {
    margin: 0px 0px 20px  20px; }
